html {
  position:relative;
  min-height:100%;
}

.flowui-modal-parent {
  position:relative;
  .flowui-modal{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 2000;
    background-color: rgba(0,0,0,0.25);
    &.flowui-modal-fixed {
      position: fixed;
    }
  }

}

